<table class="table">
  <thead>
  <tr>
    <th scope="col">Salles</th>
    <th scope="col">Capacité</th>
  </tr>
  </thead>


  <tbody *ngIf="roomsList$ | async; else loading">
    <tr *ngFor="let room of roomsList$ | async ; trackBy:trackByRoomId" (click)="onSelectRoom(room)">
      <td scope="col">{{ room.getName }} </td>
      <td scope="row">{{ room.getCapacity }}</td>
    </tr>
  </tbody>
  <ng-template #loading>
    <tr>
      <td colspan="2">
        <i class="fas fa-spinner"></i>
      </td>
    </tr>
  </ng-template>
</table>

