<div class="container">
  <div class="row justify-content-center">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="'/polepage'">Pôles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="'/promopage'">Promotions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="'/roompage'">Salles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"[routerLink]="'/planning'">Planning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"[routerLink]="'/daysoff'">Jours fermés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"[routerLink]="'/parameters'">Paramètres</a>
      </li>
    </ul>
  </div>
</div>
