<app-header></app-header>
<div class="m-3">
  <app-tab></app-tab>
</div>
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-5 text-center">
      <app-promo-list (selectPromo)="onUpdateForm($event)"></app-promo-list>
    </div>
    <div class="col-2 text-center">
      <app-btn-gestion-add
        (resetForm)="onUpdateForm($event)"
      ></app-btn-gestion-add>
    </div>

    <div class="col-5">
        <app-form-promotion
          (formCompleted)="displaySuccessAlert($event)" (errorRaised)="displayFailAlert($event)"
        ></app-form-promotion>

        <div class="text-center mt-2">
          <app-btn-gestion-delete
            (isDeleted)="displaySuccessAlert($event, 'La promotion a été supprimée')" (errorRaised)="displayFailAlert($event)"
          ></app-btn-gestion-delete>
          <app-alert-form></app-alert-form>
        </div>
      </div>
  </div>
</div>
