<form [formGroup]="passwordForm" (ngOnSubmit)="onSavePassword()">
    <div>
        <app-form-cpt-password
                [parentForm]="passwordForm"
        ></app-form-cpt-password>
        <div
                *ngIf="passwordForm.controls.password.invalid && (passwordForm.controls.password.dirty || passwordForm.controls.password.touched)"
                class="alert alert-danger">
            <div
                    *ngIf="passwordForm.controls.password.errors.required">
                Le mot de passe est requis
            </div>
        </div>
    </div>

    <div class="mt-2">
        <app-form-cpt-password
                inputName="repeatPassword"
                [parentForm]="passwordForm"
        ></app-form-cpt-password>
        <div
                *ngIf="passwordForm.controls.repeatPassword.invalid && (passwordForm.controls.repeatPassword.dirty || passwordForm.controls.repeatPassword.touched)"
                class="alert alert-danger">
            <div
                    *ngIf="passwordForm.controls.repeatPassword.errors.required">
                Le mot de deux passe doit être écrit deux fois.
            </div>
            <div
                    *ngIf="!passwordForm.controls.repeatPassword.errors.isMatching">
                Les mot de passes ne sont pas les mêmes.
            </div>
        </div>
    </div>

    <div class="text-center mt-2">
        <button type="submit" (click)="onSavePassword()">
            Modifier le mot de passe
        </button>
    </div>
</form>
