.alert-container {
  color: white;
  padding: 25px;
  max-width: 15vw;
  position: fixed;
  top: 5px;
  right: 22px;
  z-index: 999;
  border-radius: 2px;
}

.alert-success {
  background: #01A491;
}

.alert-error {
  padding: 25px;
  background: #d03c60;
  color: white;
}
